//rider signup form
#rider-signup-form {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(236, 236, 236, 0.35))
    ),
    url('../../../assets/signup-footer.jpg');
  background-image: -o-linear-gradient(top, rgba(236, 236, 236, 0.35) 0%),
    url('../../../assets/signup-footer.jpg');
  background-image: linear-gradient(180deg, rgba(236, 236, 236, 0.35) 0%),
    url('../../../assets/signup-footer.jpg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $offWhite;
  min-height: 100vh;
  .header-banner {
    background-color: #009494;
    height: 50px;
    width: 100%;
  }
  .container-form {
    @extend %formContainer;
    .signup-header {
      text-align: center;
      margin-top: -25px;
      .brand-container {
        height: 100px;
        width: fit-content;
        margin: 0 auto 2em;
        background-color: $black;
        padding: 0.5em;
        @include flexCenter(column);
        .brand-signup {
          color: white;
        }
      }
      .signup-subtitle {
        margin-bottom: 1em;
      }
      .signup-text {
        margin-bottom: 2.25em;
      }
    }
    //Form Submit
    .form-success-load {
      @extend %fontMain;
      text-align: center;
      margin-top: 20vh;
      margin-bottom: 2em;
    }
    .form-success {
      background: $offWhite;
      padding: 1em;
      border-radius: 10px;
      h1 {
        font-size: 2rem;
        margin-bottom: 1em;
      }
    }
    //End Form Submit
    .signup-main {
      label {
        @extend %fontAside;
      }
      input {
        width: 100%;
        border: 1px solid rgb(170, 170, 170);
        padding: 1em 1.5em;
        &:focus {
          outline: 1px solid #009292;
        }
      }
      ::placeholder {
        color: rgb(121, 121, 121);
        font-family: $textFont;
        font-size: 1rem;
      }
      .form-control {
        @include flexGrid(2);
        .form-group {
          margin-bottom: 0;
        }
        margin-bottom: 39px;
      }
      .form-group {
        margin-bottom: 5px;
        .input-container {
          @include flexCenter(row);
          position: relative;
          .fas {
            position: absolute;
            right: 0.5em;
            color: lightgray;
          }
        }
      }
      .input-error {
        margin-bottom: 1.5em;
        color: #ff0033;
        font-weight: 500;
        // background-color: lightgray;
        padding: 5px;
        font-size: 0.85rem;
      }
      .form-submit-btn {
        @extend %mainBtn;
        width: 100%;
        background-color: #009292;
        border: none;
        outline: #009292;
        margin-bottom: 5em;
      }
    }
  }
}
