#signup-section {
  .container-main {
    @extend %mainContainer;
    .driver-signup {
      a {
        color: black;
        font-size: 2em;
      }
      .fa-arrow-right {
        font-size: 2em;
      }
      @extend %driver-login;
    }
    .rider-signup {
      a {
        color: black;
        font-size: 2em;
      }
      .fa-arrow-right {
        font-size: 2em;
      }
      @extend %driver-login;
    }
  }
}

@media screen and (min-width: 800px) {
  #signup-section {
    .container-main {
      @include flexCenter(row);
      justify-content: space-between;
      .driver-signup {
        width: 45%;
      }
      .rider-signup {
        width: 45%;
      }
    }
  }
}
