//Icons nav

#main-slider-nav {
  overflow: scroll;
  // hide scrollbar in firefox
  scrollbar-width: none;
  // hide scroll bar in chrome
  &::-webkit-scrollbar {
    display: none;
  }
  .icons-nav {
    width: 765px;
    margin: 0 auto;
    background: $white;
  }

  ul {
    li {
      display: inline;
      text-align: center;
      margin: 0;

      a {
        display: inline-block;
        width: 72px;
        padding: 2rem 0;
        margin: 10px;
        text-decoration: none;
        color: #333;
        background: $white;

        i {
          display: block;
        }
        span {
          display: block;
        }
      }
    }
    // 92px (icon width) + 10 (added margin) = margin left
    .one.active ~ hr {
      margin-left: 10px;
    }

    .two.active ~ hr {
      margin-left: 102px;
    }

    .three.active ~ hr {
      margin-left: 194px;
    }

    .four.active ~ hr {
      margin-left: 286px;
    }

    .five.active ~ hr {
      margin-left: 378px;
    }

    .six.active ~ hr {
      margin-left: 470px;
    }

    .seven.active ~ hr {
      margin-left: 562px;
    }

    .eight.active ~ hr {
      margin-left: 654px;
    }
    hr {
      height: 0.25rem;
      width: 72px;
      margin-left: 10px;
      margin-bottom: 0;
      background: $black;
      border: none;
      transition: 0.3s ease-in-out;
    }
  }
}

// desktop view
@media screen and (min-width: 1136px) {
  // adjust width at desktop view
  #main-slider-nav {
    .icons-nav {
      width: 795.2px;
    }
    ul {
      li {
        a {
          // adjust icon width at breakpoint
          width: 75px;
          margin: 10px;
        }
      }
      // 95px (icon width) + 10 (added margin) = margin left
      .one.active ~ hr {
        margin-left: 10px;
      }

      .two.active ~ hr {
        margin-left: 105px;
      }

      .three.active ~ hr {
        margin-left: 200px;
      }

      .four.active ~ hr {
        margin-left: 295px;
      }

      .five.active ~ hr {
        margin-left: 390px;
      }

      .six.active ~ hr {
        margin-left: 485px;
      }

      .seven.active ~ hr {
        margin-left: 580px;
      }

      .eight.active ~ hr {
        margin-left: 675px;
      }
      // adjust underline width at breakpoint
      hr {
        width: 75px;
        margin-left: 10px;
      }
    }
  }
}

// large desktop view
@media screen and (min-width: 1536px) {
  // adjust width at large desktop view
  #main-slider-nav {
    .icons-nav {
      width: 1075.2px;
    }
    ul {
      li {
        a {
          // adjust icon width at breakpoint
          width: 110px;
          margin: 10px;
        }
      }
      // 130px (icon width) + 10 (added margin) = margin left
      .one.active ~ hr {
        margin-left: 10px;
      }

      .two.active ~ hr {
        margin-left: 140px;
      }

      .three.active ~ hr {
        margin-left: 270px;
      }

      .four.active ~ hr {
        margin-left: 400px;
      }

      .five.active ~ hr {
        margin-left: 530px;
      }

      .six.active ~ hr {
        margin-left: 660px;
      }

      .seven.active ~ hr {
        margin-left: 790px;
      }

      .eight.active ~ hr {
        margin-left: 920px;
      }
      // adjust underline width at breakpoint
      hr {
        width: 110px;
        margin-left: 10px;
      }
    }
  }
}
