//Icons nav

#main-slider-nav {
  overflow: scroll;
  // hide scrollbar in firefox
  scrollbar-width: none;
  // hide scroll bar in chrome
  &::-webkit-scrollbar {
    display: none;
  }
  .icons-nav {
    // @extend %mainContainer;
    min-width: 765px;
    margin: 0 auto;
    background: $white;
  }

  ul {
    li {
      display: inline;
      text-align: center;
      margin: 0;

      a {
        display: inline-block;
        width: 72px;
        padding: 2rem 0;
        margin: 10px;
        text-decoration: none;
        color: #333;
        background: $white;

        i {
          display: block;
        }
        span {
          display: block;
        }
      }
    }
    // 95.96px (icon width) + 10 (added margin) = margin left
    .one.active ~ hr {
      margin-left: 10px;
    }

    .two.active ~ hr {
      margin-left: 105.96px;
    }

    .three.active ~ hr {
      margin-left: 201.92px;
    }

    .four.active ~ hr {
      margin-left: 297.88px;
    }

    .five.active ~ hr {
      margin-left: 393.84px;
    }

    .six.active ~ hr {
      margin-left: 489.8px;
    }

    .seven.active ~ hr {
      margin-left: 585.76px;
    }

    .eight.active ~ hr {
      margin-left: 681.72px;
    }
    hr {
      height: 0.25rem;
      width: 72px;
      margin-left: 10px;
      margin-bottom: 0;
      background: $black;
      border: none;
      transition: 0.3s ease-in-out;
    }
  }
}
