//Icons nav

#main-slider-nav {
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .icons-nav {
    @extend %mainContainer;
    min-width: 765px;
    margin: 0 auto;
    background: $white;
  }

  .icons-nav::-webkit-scrollbar {
    display: none;
  }

  ul {
    li {
      display: inline;
      text-align: center;
      margin: 0;

      a {
        display: inline-block;
        width: 10%;
        padding: 2rem 0;
        margin: 1%;
        text-decoration: none;
        color: #333;
        background: $white;

        i {
          display: block;
        }
        span {
          display: block;
        }
      }
    }
    .one.active ~ hr {
      margin-left: 1%;
    }

    .two.active ~ hr {
      margin-left: 13.5%;
    }

    .three.active ~ hr {
      margin-left: 26%;
    }

    .four.active ~ hr {
      margin-left: 38.5%;
    }

    .five.active ~ hr {
      margin-left: 51.5%;
    }

    .six.active ~ hr {
      margin-left: 63.5%;
    }

    .seven.active ~ hr {
      margin-left: 76%;
    }

    .eight.active ~ hr {
      margin-left: 88.5%;
    }
    hr {
      height: 0.25rem;
      width: 9%;
      margin-left: 1%;
      margin-bottom: 0;
      background: $black;
      border: none;
      transition: 0.3s ease-in-out;
    }
  }
}
