//Variables

/**Colors**/

//**General Home Colors**
$black: #000000; //Hero background
$offBlack: #444444; //btn/icon hovers
$white: #ffffff; //body background
$offWhite: #f1f1f1; //buttons

//Disable slider btn
$btnDisable: #f6f6f6;

//Text Colors
$textBlack: #333333; //headers
$textGray: #b7afb1; //paragraphs
$textLightGray: #afafaf; //restaurant slider text

//Main underline color
$underlineGray: #cbcbcb;

//Footer
$darkGray: #666666; //links hover/aside text
$darkGrayHover: #2c2c2c; //aside text hover
//**End General Home Colors**

//**Signup Colors**
//black
//offBlack
$signUpBackground: #f8f8f9;
$placeHolderText: #8b75a1;
$signUpBtn: #11939a;
//**End Signup Colors**

/** End Colors**/

/**Fonts**/
$brandFont: "Oleo Script", cursive;
$textFont: "Roboto", sans-serif;
/**End Fonts**/
